.header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0px;
  padding-right: 30px;
}

.estra_logo {
  width: 100px;
  height: 30px;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.list_ietm {
  font-size: 20px;
  margin-right: 20px;
}

.section_1 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.img_firstview {
  width: 70%;
  position: relative;
}

.img_firstview_item {
  width: 100%;
  display: block;
}

.section_1_text_box {
  width: 500px;
  position: absolute;
  color: rgb(194, 1, 143);
  left: 50px;
  margin-top: 100px;
  margin-left: 40px;
}

.message1 {
  font-size: 50px;
  margin-bottom: 40px;
  font-family: "Architects Daughter";
}

.message2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.message3 {
  color: grey;
}

.em1 {
  color: aqua;
}

.section_2 {
  width: 50%;
  margin-left: 25%;
  padding-bottom: 10px;
  border-bottom: rgb(211, 208, 208) 2px solid;
}

.section_2_ttl_complement {
  color: rgb(194, 1, 143);
  margin-bottom: 10px;
  font-family: "Architects Daughter";
}

.section_2_new_information {
  color: grey;
  border-bottom: rgb(211, 208, 208) 2px solid;
  padding-bottom: 20px;
}

.news_content_item {
  list-style: none;
  color: grey;
  border-bottom: rgb(220, 218, 218) 1px solid;
}

.news_content_item_em {
  width: 100px;
  color: white;
  border-radius: 30px;
  background: rgb(194, 1, 143);
  margin: 20px 30px;
  padding: 5px 5px;
  text-align: center;
  display: inline-block;
}

.section_3 {
  width: 100%;
  background-color: gainsboro;
  padding: 40px 0px;
  margin-top: 50px;
}

.section_3_ttl_complement {
  display: flex;
  justify-content: center;
  color: rgb(194, 1, 143);
  font-family: "Architects Daughter";
  margin: 0px 0px 20px 0px;
}

.section_3_ttl_title {
  display: flex;
  justify-content: center;
  color: rgb(120, 118, 118);
  font-size: 30px;
}

.about_content_text {
  color: rgb(68, 68, 68);
  padding-top: 50px;
}

.about_content_text1 {
  margin-bottom: 20px;
}

.about_content_text2 {
  margin-top: 20px;
}

.about_content {
  display: flex;
  justify-content: space-around;
}

.about_content_img {
  width: 30%;
  padding-top: 30px;
}

.about_content_img_item {
  display: block;
  width: 100%;
  height: auto;
}

.section_4_ttl {
  margin-left: 100px;
  margin-top: 50px;
}

.section_4_ttl_complement {
  padding-bottom: 20px;
  color: rgb(194, 1, 143);
  font-family: "Architects Daughter";
}

.section_4_ttl_title {
  font-size: 20px;
  color: rgb(68, 68, 68);
}

.service_content {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 1fr 1fr;
  margin: 50px 100px;
  color: aliceblue;
}

.service_content_item_ttl_1 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.service_content_item_img_1 {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.service_content_item_ttl_2 {
  font-size: 20px;
  margin-bottom: 10px;
  display: inline-block;
  padding: 20px 0px;
}

.service_content_item_img_2 {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.service_content_item_ttl_3 {
  font-size: 20px;
  display: inline-block;
  padding: 20px 0px;
  margin-bottom: 10px;
}

.service_content_item_img_3 {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.service_content_item_1 {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: rgb(194, 1, 143);
}

.service_content_item_2 {
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: rgb(201, 86, 170);
  display: flex;
  justify-content: flex-star;
}

.service_content_item_3 {
  width: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: rgb(224, 174, 211);
  display: flex;
  justify-content: flex-start;
}

.section_5 {
  background-color: gainsboro;
  width: 100%;
}

.section_5_ttl {
  margin: 50px 0px 0px 80px;
  padding-top: 50px;
}

.section_5_ttl_complement {
  padding-bottom: 20px;
  color: rgb(194, 1, 143);
  font-family: "Architects Daughter";
}

.section_5_ttl_title {
  font-size: 20px;
  color: rgb(68, 68, 68);
}

.card_title {
  height: auto;
  width: 20%;
  font-size: 20px;
  color: white;
  background-color: rgb(194, 1, 143);
  display: inline-block;
  position: absolute;
  border-radius: 10px 0 0 0;
  margin: auto;
  padding: 10px;
}

.card_list {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px 0px 50px;
  margin: 20px;
}

.card {
  width: 300px;
  height: auto;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
}

.card_img_item {
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
}

.text_main {
  padding: 30px 20px;
}

.text_tag {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 20px 10px;
}

.text_2 {
  display: inline-block;
}

.text_3 {
  display: inline-block;
}

.list {
  display: flex;
  justify-content: center;
}

.list_btn {
  width: 200px;
  height: auto;
  padding: 10px 0;
  color: rgb(194, 1, 143);
  border-radius: 30px;
  background-color: white;
  text-align: center;
  margin-bottom: 30px;
  display: inline-block;
  border: solid 2px rgb(194, 1, 143);
}

.section_6 {
  margin: 50px 0px;
}

.section_6_ttl {
  margin-left: 30%;
}

.section_6_ttl_complement {
  padding-bottom: 10px;
  color: rgb(194, 1, 143);
  font-family: "Architects Daughter";
  margin-bottom: 10px;
}

.section_6_ttl_title {
  font-size: 20px;
  color: rgb(68, 68, 68);
  margin-bottom: 40px;
}

.table_content {
  display: flex;
  justify-content: center;
}

.table_content_list {
  width: 50%;
  border-collapse: collapse;
  display: block;
  margin: auto;
}

table th {
  border: 1px solid #ccc;
  padding: 10px 100px 10px 0px;
  font-weight: bold;
  background-color: #dedede;
}

table td {
  border: 1px solid #ccc;
  padding: 10px 200px 10px 0px;
}

.section_7 {
  display: flex;
  justify-content: space-between;
}

.section_7_item_1 {
  width: 50vw;
  height: 300px;
  background-image: url(../img/recruit.png);
  background-size: cover;
  position: relative;
  box-sizing: border-box;
}

.section_7_item_1_text {
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 20px;
  color: #fff;
}

.section_7_item_2 {
  width: 50vw;
  height: 300px;
  background-image: url(../img/interview.png);
  background-size: cover;
  position: relative;
  box-sizing: border-box;
}

.section_7_item_2_text {
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 20px;
  color: #fff;
}

.section_8 {
}

.section_8_text {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  text-align: center;
  margin-top: 40px;
}

.section_8_bar {
  width: 3px;
  height: 50px;
  background-color: #c2018f;
  margin: auto 50%;
}

.section_8_mail_btn {
  position: relative;
  background-color: #c2018f;
  width: 200px;
  display: block;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0px 10px 5px #7e0067;
  margin: 20px auto;
  background: linear-gradient(90deg, #ce43b5, #c2018f);
}

.section_8_mail_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translate(-170px, -50%);
}

.Copyright {
  width: auto;
  height: auto;
  background-color: gainsboro;
  color: rgb(145, 145, 145);
  display: flex;
  justify-content: center;
  margin: 30px 0px;
  padding: 30px 0px;
  margin-bottom: 50px;
}
